<material-sidenav [(open)]="sidenav">
    <div style="padding-top: 0.5em">
        <menu-item [routerLink]="['List']" icon="list">
            Browse
        </menu-item>
        <menu-separator></menu-separator>
        <menu-item [routerLink]="['Favorites']" icon="favorite">
            Favorites
        </menu-item>
        <menu-separator></menu-separator>
        <menu-item [routerLink]="['Settings']" icon="settings">
            Settings...
        </menu-item>
    </div>
</material-sidenav>
<material-toolbar (iconClick)="handleIconClick()" background="black"
    [title]="title" [icon]="icon"></material-toolbar>
<router-outlet></router-outlet>